body{
    flex-direction: column;
}
.nav-wrapper{
    background-color: #3F51B5;
}
.brand-logo{
    margin-left: 12px;
}
.left-align{
    padding-right: 40%;
    padding-top: 40%;
    padding-bottom: 40%;
}
.right-align{
    padding-left: 40%;
    padding-top: 40%;
    padding-bottom: 40%;
}
.grow {
    transition: all .2s ease-in-out;
    color: white;
}
.grow:hover {
    transform: translate(100px,0px);
}
.growright {
    transition: all .2s ease-in-out;
    color: white;
}
.growright:hover {
    transform: translate(-100px,0px);
}
main {
    flex: 1 0 auto;
}
