html, body {
    height:100%;
    width:100%;
}
body {
    margin: 0;
    padding-top:50px;
}
#whole_page {
    height: calc(100% - 50px);
    width: 100%;
}
#header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
}
#main {
    height: 100%;
    text-align: center;
    width: 100%;
}
.list {
    width: 50%;
    height: 100%;
    display: inline-block;

    float: left
}
.prenota {
    width: 50%;
    height: 100%;
    display: inline-block;

    float: right
}
